{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Western Australia Exploration Geochemistry</h1>
    <p class="lead">
        Harmonised open file surface and downhole geochemistry data from
        exploration company datasets in GSWA's Mineral Drillholes Database.
    </p>
    <p><a href="http://dmirs.wa.gov.au/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Downhole samples</h2>
        <p>
            Downhole sample assays harmonised by analyte name and units.
        </p>
        <p><a class="btn btn-default" href="http://dmirs.wa.gov.au/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Surface samples</h2>
        <p>Surface sample assays harmonised by analyte name and units.</p>
        <p><a class="btn btn-default" href="http://dmirs.wa.gov.au/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download MDHDB </h2>
        <p>Complete Open File MDHDB in MSSQL .bak format.</p>
        <p><a class="btn btn-default" href="http://dmirs.wa.gov.au/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
