{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    GSWA<br />
    100 Plain Street, East Perth, WA 6004<br />
    <abbr title="Phone">P:</abbr>
    +61 8 9222 3331
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:wamex.enquiries@dmirs.wa.gov.au">wamex.enquiries@dmirs.wa.gov.au</a><br />
    <strong>Information:</strong> <a href="http://www.dmp.wa.gov.au/Company-mineral-drill-hole-data-1552.aspx">MDHDB web page</a>
</address>

{% endblock %}
